numpy==1.26.0
matplotlib==3.7.1
scipy==1.10.1
tensorflow==2.12.0
tqdm==4.65.0
jaxtyping==0.2.15
beartype==0.14.0
dm-haiku==0.0.9
optax==0.1.5
h5py==3.8.0
jax==0.4.10
plyfile
mypy
types-tqdm
pandas==2.0.2
